.services{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.services-title{

    position: relative;

}
.services-title h1{

    padding: 0px 30px;
    font-size: 60px;
    font-weight: 400;
    scroll-margin-top: 30px;

}
.services-title img{

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

}
.services-format{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    margin: 30px;
    border-radius: 5px;
    transition: 0.4s;
    border: 2px solid white;


}
.services-format:hover{

    transform: scale(1.075);
    transition: 0.2s;
    border: 2px solid white;
    background: linear-gradient(135deg, #20c20e 0.1%, #c2710e 60%);

}
.services-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 80px;

}
.services-format h3{

    font-size: 28px;
    font-weight: 600;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.321);

}
.services-format h2{

    font-size: 32px;
    font-weight: 600;
    background: white;
    background-clip: text;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.119);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}
.services-format p{

    color: #ffffff;
    font-size: 24;
    line-height: 30px;
    max-width: 400px;

}
.services-readmore{

    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;

}