.hero{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px

}
.hero img{

    margin-top: 100px;
}
.hero h2{

    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 400;

}
.hero h1 span{

    font-size: 60px;
    background: linear-gradient(267deg, #20c20e 10%, #c2710e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{

    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;

}
.hero-action{

    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;

}
.hero-connect{

    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #20c20e 10%, #c2710e 100%);
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF

}
.hero-resume{

    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF

}
.hero-connect:hover{

    border:2px solid white;

}
.hero-resume:hover{

    border-color: #20c20e;

}