.mywork{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px

}

.mywork-title{

    position: relative;

}
.mywork-title h1{

    padding: 0px 30px;
    font-size: 60px;
    font-weight: 400;
    scroll-margin-top: 15px;

}
.mywork-title img{

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

}

.mywork-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 80px;

}

.mywork-format{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.484);

}

.mywork-format:hover{

    transform: scale(1.075);
    transition: 0.2s;
    border: 2px solid white;
    background: linear-gradient(135deg, #20c20e 0.1%, #c2710e 60%);

}

.mywork-format:active{

    transform: translateY(2px);

}