.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;

}
.nav-menu{

    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;

}
.nav-connect{

    margin-left: 35px;
    padding: 20px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #20c20e 0.36%, #c2710e 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{

    transform: scale(1.05);

}